#header {
    background-color:rgb(255, 186, 59);
    text-align:center;
    padding-top:20px;
    padding-bottom:10px;
}
 body {
     text-align: center;
     background-image:url("https://wallpaperaccess.com/full/1891192.jpg");
 }
 

 canvas {
    border-width:5px;
     border-style:solid;
     border-radius:25px;     
     border-color:white;
 }